{% extends "layout/base.html" %}
{% load static %}

{% block servs %}

<div class="servcontainer">
    <div class="servnames">
        {% for el in servs %}
        <div class="sername"><div class="round leftround"></div><p class="pserv">{{ el.title }}</p><div class="round"></div></div>
        {% endfor %}
    </div>
    
    <div class="servsabout">

        {% for el in servs %}
        <div class="servabout">
            <h3>{{ el.title }}</h3>
            <p>{{ el.about }}</p>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block servsdop %}

<div class="otherservcontainer">
    <div class="otherservnames">
        {% for el in servsdop %}
      <div class="othersername"><div class="otherround leftround"></div><p class="otherpserv">{{ el.title }}</p><div class="otherround"></div></div>
      {% endfor %}
    </div>
    
    <div class="otherservsabout">
        {% for el in servsdop %}
      <div class="otherservabout">
        <p>{{ el.about }}</p>
    </div>
    {% endfor %}
        
    </div>
</div>

{% endblock %}

{% block techs %}

    {% for el in techs %}
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ el.image.url }}" alt="{{ el.titlealt }}">
          </div>
          <div class="flip-card-back">
            <p>{{ el.about|safe }}</p>
          </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}


{% block works %}
{% for el in works %}
<div id="myImg" class="workitem">
    <img class="workimg" src="{{ el.image.url }}" alt="{{ el.titlealt }}">
    <div class="overlay">
        {% if el.itis == "2" %}
      <p> Просмотр дизайна</p>
      {% else %}
      <p> <a href="{{ el.address }}">Перейти на сайт</a></p>
      {% endif %}
    </div>
  </div>
  {% if el.itis == "2" %}
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img id="img01" class="modal-content" src="{{ el.image.url }}" alt="{{ el.titlealt }}">
  </div>
  {% endif %}

  {% endfor %}
{% endblock %}



{% block calcs %}

{% for el in calcs %}

{% if el.cost %}
<div class="calcname"><div class="round rcal"></div><p class="calcserv">{{ el.title }}</p> от <span class="cost">{{ el.cost }}</span> р</div>
{% else %}
<div class="calcname"><div class="round rcal"></div><p class="calcserv">{{ el.title }}</p><span class="cost"> бесплатно</span></div>
{% endif %}
{% endfor %}

{% endblock %}
